header{
    width:100%;
    height:55px;
    background:url("../img/logo.png") no-repeat left 50px top 10px;
    background-color: #228abf;
    position: relative;
}
header input{
    width:300px;
    height:28px;
    border-radius:14px;
    position: absolute;
    top: 14px;
    right: 160px;
    box-sizing: border-box;
    padding-left:40px;
    outline:none;
    font-size:15px;
}
header .glyphicon-search{
    top:22px;
    right:-904px;
    color: #c7c5c5;
    z-index: 3;
    font-size:15px;
}
header span{
    position: absolute;
    right:80px;
    top:20px;
    color: #fff;
    font-size:14px;
    cursor: pointer;
}
header span .glyphicon-user{
    margin-right:10px;
}
.container{
    display: flex;
    /* width: 1280px; */
}
aside{
    flex:0 0 300px;
    background: #2a2e3d;
    height:1200px;
    box-sizing: border-box;
    position: relative;
}
aside .username{
    height:90px;
    position: relative;
    color: #fff;
    font-size:18px;
}
aside .username .circle{
    width:60px;
    height:60px;
    background: #2a2e3d;
    border-radius: 50%;
    border:2px solid #b9babd;
    box-sizing: border-box;
    position: absolute;
    top:15px;
    left: 70px;
}
aside .username .circle .round{
    width:46px;
    height:46px;
    background: #b9babd;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}
aside .username p{
    position: absolute;
    top:35px;
    right:74px;
}
aside .fans{
    height:78px;
    color: #6e8095;
    font-size:16px;
    position: relative;
}
aside .fans div{
    position: absolute;
    top:10px;
    text-align: center;
    cursor: pointer;
}
aside .fans div:first-child{
    left:80px;
}
aside .fans div:last-child{
    left:125px;
    border-left:1px solid #6e8095;
    padding-left:15px;
}
aside .fans div:hover{
    color: #b74d4d;
}
aside .report{
    height:240px;
    font-size:15px;
    line-height:38px;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    background: #383e4e;
    cursor: pointer;
}
aside .report p{
    margin-left:60px;
}
aside .report p .glyphicon-list-alt{
    margin-right:10px;
}
aside .report .outside{
    margin-left:84px;
}
aside .report .outside .inside{
    margin-left:24px;
}
aside .report .outside .inside li:last-child{
    color: #6e8095;
}
/* first-child 前不能忘了加 : */
aside .report .outside li:not(:first-child){
    color: #6e8095;
}
aside .report .outside .inside li:last-child:hover, aside .report .outside li:not(:first-child):hover{
    color: #fff;
}
aside .other {
    font-size:15px;
    line-height:38px;
}
aside .other ul li{
    padding-left:84px;
    cursor: pointer;
}
aside .other ul li:hover{
    color:#fff;
    background: #383e4e;
}
section{
    flex: 0 0 1024px;
    font-size: 14px;
}
section .breadcrumb{
    width: 96%;
    padding: 20px;
    background: #fff;
}
section .breadcrumb li{
    display: inline-block;
    cursor: pointer;
}
section .breadcrumb li+li:before{
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
section .breadcrumb li:hover{
    color: #2189bf;
}
section .main{
    margin: 30px 80px;
    height: 100px;
}
section .search{
  background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}
section .search form{
    margin: 0 auto;
}
section .search form .column{
    float: left;
    margin-right: 15px;
}
section .search form .query{
    width: 160px;
}
section .search .btn-select{
    display: inline-block;
    width: 80px;
    padding-left: 10px;
    line-height: 25px;
    border-radius: 5px;
    border: 1px solid #2a2e3d;
    position: relative;
}
section .search .btn-select .hidden-btn{
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    position: absolute;
}
section .search .btn-select .dropdown{
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    display: none;
    box-shadow: 0 0 5px #aaa;
    z-index: 99;
}
section .search .btn-select:hover .hidden-btn:checked + .dropdown{
    display: block;
}
section .search .btn-select:hover, .search .btn-select .hidden-btn:hover{
    cursor: pointer;
}
section .search .btn-select .dropdown li{
    padding-left: 10px;
}
section .search .btn-select .dropdown li:hover{
    background: #bababe;
}
section .search .btn-select i{
    float: right;
    line-height: 25px;
    margin-right: 2px;
}
section .search .buyer-seller{
    width: 250px;
    position: relative;
}
section .search .buyer-seller .buyer{
    width: 150px;
}
section .search .buyer-seller .seller, .search .details .counters{
    margin-top: 10px;
}
.search .buyer-seller .change{
    position: absolute;
    top: 0;
    left: 200px;
    padding-top: 23px;
    padding-left: 13px;
    color: #fff;
    background: url('../img/change.png') no-repeat 1px 12px;
    height: 100%;
}
.search .details{
    position: relative;
    width: 360px;
}
.search .details .input-date{
    width: 120px;
}
.search .details .counter, .search .details .deals{
    width: 100px;
}
.search .details .counters .search-btn{
    display: inline-block;
    width: 50px;
    background-color: #2189bf;
    border-radius: 5px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 15px;
    right: -20px;
}
.main.history{
  cursor: pointer;
}
.history > div{
  float: left;
  margin-right: 10px;
}
.history .pre ,.history .next{
  background-color: #fff;
  width:30px;
  font-size: 18px;
  text-align: center;
  line-height: 100px;
}
.history .pre{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.history .middle{
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  padding-top: 24px;
  border-top: 6px solid #fff;
}
.history div.middle:nth-child(2){
  border-top-color: #2189bf;
}
.history .middle:hover{
  border-top-color: #2189bf;
}
.history .middle p:last-child span{
  font-size: 22px;
  line-height: 50px;
  color: #ec6500;
}
.history .end{
  background-color:#fff;
  height: 100px;
  box-sizing: border-box;
  padding-top:40px;
  padding-right: 20px;
  padding-left: 15px;
  margin-right: 0;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.history .end i{
  color: #388ac1;
  font-size: 26px;
}
.statistic > div{
  box-sizing: border-box;
  float: left;
  height: 70px;
  width:22.8%;
  background-color: #fff;
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}
.statistic .green{
  border-left: 3px solid #43b29d;
}
.statistic .blue{
  border-left: 3px solid #388ac1;
}
.statistic .red{
  border-left:3px solid #cf4a36;
}
.statistic .yellow{
  border-left:3px solid #e2cd46;
  margin-right: 0;
}
.statistic p:first-child{
  line-height: 26px;
  color: #000;
}
.statistic > div p{
  text-indent: 15px;
}
.statistic > div p:first-child{
  padding-top: 15px;
}
.statistic > div >div {
  width: 60px;
  height: 45px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.green > div{
  background-color: #43b29d;
}
.blue > div{
  background-color: #388ac1;
}
.red > div{
  background-color: #cf4a36;
}
.yellow > div{
  background-color: #e2cd46;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-search:before {
    content: "\e003";
}
.glyphicon-user:before {
    content: "\e008";
}
.glyphicon-list-alt:before {
    content: "\e032";
}
.glyphicon-chevron-down:before {
    content: "\e114";
}
.glyphicon-folder-open:before {
    content: "\e118";
}
.glyphicon-align-justify:before {
    content: "\e055";
}
.glyphicon-chevron-right:before {
    content: "\e080";
}
.glyphicon-star:before {
    content: "\e006";
}
.glyphicon-send:before {
    content: "\e171";
}
.glyphicon-picture:before {
    content: "\e060";
}
.glyphicon-record:before {
    content: "\e165";
}
.glyphicon-scale:before {
    content: "\e230";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-calendar:before {
  content: "\e109";
}
